<!DOCTYPE html>
<html>
  <head>
    <title> Curriculum ></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    
  </head>
  <body>
    
    <div class="container">
      <div class="left">
          <div class="profiletext">
              <div class="profileimg">
                  <img src="../images/pablo.jpg.jpeg" width="", height="100">
              </div>
              <h2>Pablo <span>Rodriguez</span></h2>
          </div>

          <div class="info">
              <h3 class="title">CONTACTO</h3>

              <ul>
                  <li>
                      <span class="icon"><ion-icon name="phone-portrait-outline"></ion-icon></span>
                      <span class="text">0412-442-2663</span>
                  </li> 

                  <li>
                      <span class="icon"><ion-icon name="mail-unread-outline"></ion-icon></span>
                      <span class="text">pablorodriguezjunior12345@gmail.com</span>
                  </li> 

                  <li>
                      <span class="icon"><ion-icon name="logo-facebook"></ion-icon></span>
                      <span class="text">Pablito Rg</span>
                  </li> 
                  
                  <li>
                      <span class="icon"><ion-icon name="logo-instagram"></ion-icon></span>
                      <span class="text">Pablitorg24x</span>
                  </li> 


                  <li>
                      <span class="icon"><ion-icon name="location-outline"></ion-icon></span>
                      <span class="text">Venezuela,Estado:"ARAGUA",Villa de cura</span>
                  </li> 


              </ul>
          </div>


          <div class="info education">
              <h3 class="title">educacion</h3>
              <ul>
                  <li>
                      <h5>Universidad / University</h5>
                      <h4> Romulo Gallego <br>
                          <br>Ingeneria Sistemas <sub>th</sub> </h4>
                      <h4>2020 - 20--</h4>
                  </li>
  
                  <li>
                      <h5>Secundaria / college</h5>
                      <h4>Manuel Moraless <sub>th</sub> </h4>
                      <h4>2013 - 2018</h4>
                  </li>
  
                  <li>
                      <h5>Escuela / school</h5>
                      <h4>Simon Rodriguez <sub>th</sub> </h4>
                      <h4>2008-2013</h4>
                  </li>
  
              </ul>
          
          </div>

          <div class=" info lenguage">
              <h3 class="title">lenguage</h3>
                  <ul>
                      <li>
                          <span class="text">English</span>
                          <span class="percent">
                              <div style="width: 3%;" ></div>
                                  </span>
                      </li>
      
                      <li>
                          <span class="text">Spanish</span>
                          <span class="percent">
                              <div style="width: 99%;" ></div>
                          </span>
                      </li>
      
                  </ul>
          </div>


      </div>


      <div class="right">
          <div class="about">
              <h2 class="title2">Perfil</h2>
              <p>Estudiante de informatica, altamente motivado y estusiasmado en adquirir nuevos conococimientos en el campo de la informatica, ya sea atrevez de cursos academico.siempre buscando nuevos conocimientos en diversos lenguajes como: "JavaScript basico,python,html,css,mysql",estoy motivado en seguir desarrolando mis habilidades en esta area con constante diciplina y dedicacion</p>
             <br>
             <br>
              <div class="about">
              <h2 class="title2">EXPERIENCIA</h2>
              <div class="box">
                  <div class="PROGRAMADOR">
                      <h5>2024 - present</h5>
                      <h5>ONLINE</h5>
                  
                  </div>

              <div class="text">
                  <h4>PROGRAMADOR</h4>
                  <p>motivado en ampliar mis conocimiento en esta area, estoy realizando cursos por internet.</p>
              </div>

              <div class="PROGRAMADOR">
                  <h5>2024-present</h5>
                  <h5>CURSO BASICO: "HTML, JavaScript"</h5>
              
              </div>

          <div class="text">
              <h4>HTML Y JAVASCRIPT</h4>
              <p>realizando cursos basico de "HTML Y JAVASCRIPT" que constan de 25 videos por cada lenguaje para ampliar mis conocimiento y asi poder agilizar mis proyectos</p>
          </div>
           <br>
           <br>
  

      </div>
      <div class="about habilidad">
          <h2 class=">title3">HABILIDAD Y DESTREZA</h2>
          <div class="box">
              <h4>HTML</h4>
              <div class="precent">
                  <div style="width: 30%;"></div>
              </div>
      </div>

  
          <div class="box">
              <h4>JAVASCRIPT</h4>
              <div class="precent">
                  <div style="width: 40%;"></div>
          </div>
      </div>

          <div class="box">
              <h4>CSS</h4>
              <div class="precent">
                  <div style="width: 25%;"></div>
          </div>
      </div>


     
          <div class="box">
              <h4>MYSQL</h4>
              <div class="precent">
                  <div style="width: 50%;"></div>
              </div>
          </div>
      </div>
      
      <div class="about inter">
          <h2 class="title2">interesant</h2>
          <ul>
              <li><ion-icon clase="icon" name="book-outline"></ion-icon>LECTURA</li>
              <li><ion-icon clase="icon" name="game-controller-outline"></ion-icon>VIDEOJUEGOS</li>
              <li><ion-icon clase="icon" name="football-outline"></ion-icon>FUTBOL</li>
              <li><ion-icon clase="icon" name="happy-outline"></ion-icon>APRENDER</li>
          </ul>
      </div>


  </div>
</div>
  </body>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>
